* {
  margin: 0;
  padding: 0;
}
#react-root {
  width: 100vw;
  overflow: hidden;
}
.drag {
  position: absolute;
  top: 0px;
}
.tool {
  display: block;
  position: absolute;
  width: 160px;
  height: 60px;
  text-align: center;
  padding: 20px;
  top: -50px
}
.tool_inner {
  border: 1px solid #666;
}
.tool_inner img {
  width: 20px;
}
